.btn-wrapper {
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #239b76;
  }
  
  .facebook {
    background-color: #3b5998;
    margin-right: 10px;
  }
  
  .twitter {
    background-color: #55acee;
  }
  
  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  